@import "tailwindcss";

body {
  font-family: "SF Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    sans-serif;
  font-weight: 500;
  overflow: hidden;
}

.control-center {
  backdrop-filter: blur(27.1828px);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 12px 30px 0px 5px 10px rgba(0, 0, 0, 0.299489);
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.control-tile {
  backdrop-filter: blur(20px);
  background-color: rgba(255, 255, 255, 0.15); /* Translucent white */
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.control-tile:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.window {
  transition: box-shadow 0.3s ease;
  /* other styles like border, background, etc. */
}

.window.active {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15),
    0px 25px 30px rgba(0, 0, 0, 0.35);
}

.window.inactive {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); /* much subtler shadow */
}

.bg-inactive-btn {
  background: radial-gradient(
    125% 125% at 50% 50%,
    #cecdcd 0%,
    rgba(215, 215, 215, 0.6) 100%
  );
}

@theme {
  --shadow-window: 0px 0.5px 0px rgba(0, 0, 0, 0.15),
    inset 0px -0.5px 0px rgba(0, 0, 0, 0.05);
  --shadow-window-inactive: inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    inset 0px -0.5px 0px #cecece, inset 0px -1px 0px #e5e5e5;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
